<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.tacx.extentReportListener.ExtentReportListeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.tacx.testcases.SignupPageTest" />
			<class name="com.tacx.testcases.CreateAccountPageTest" />
			<class name="com.tacx.testcases.HomePageTest" />
			<class name="com.tacx.testcases.CreateWorkoutTest" />
			<class name="com.tacx.testcases.DistanceSelectionPageTest" />
			<class name="com.tacx.testcases.WorkoutsPageTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
